---
import '../styles/global.css'  

--- 


<footer class="px-15 pt-6 lg:px-20 border-t-2 mt-20 bg-white-50">
    <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">

        <div class="sm:col-span-2">
            <a href="#" class="inline-flex items-center">
                <span class="ml-2 text-xl font-bold tracking-wide text-gray-800">Pablo Andrés León</span>
            </a>
            <div class="mt-6 lg:max-w-xl">
                <p class="text-sm text-gray-800">
                    Se brinda asesoramiento jurídico en Derecho Penal y áreas relacionadas, abordando cada caso con un enfoque estratégico, análisis detallado y defensa rigurosa. El objetivo es ofrecer soluciones eficaces, adaptadas a las circunstancias particulares de cada cliente, garantizando siempre la máxima confidencialidad y profesionalidad en todas las actuaciones. 
                    </p>
            </div>
        </div>

        <div class="flex flex-col gap-2 text-sm">
            <p class="text-base font-bold tracking-wide text-gray-900">Menu</p>
            <a href="#">UPSC - Union Public Service Commission</a>
            <a href="#">General Knowledge</a>
            <a href="#">MBA</a>
        </div>
            <div class="flex flex-col gap-2 text-sm">
            <p class="text-base font-bold tracking-wide text-gray-900">Menu</p>
            <a href="#">UPSC - Union Public Service Commission</a>
            <a href="#">General Knowledge</a>
            <a href="#">MBA</a>
        </div>
            

    </div>

    <div>
        <p class="text-sm mt-20 text-gray-600">© 2025 Pablo Andrés León. All rights reserved</p>
        
    </div>

</footer>
       