---
import '../styles/global.css';
---

<footer class="px-15 pt-6 lg:px-20 border-t-2 mt-45 footer-anim">
  <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">
    <div class="sm:col-span-2">
      <a href="#" class="inline-flex items-center">
        <span class="ml-2 text-xl font-bold tracking-wide text-gray-800">Pablo Andrés León</span>
      </a>
      <div class="mt-6 lg:max-w-xl">
        <p class="text-sm text-gray-800">
          Se brinda asesoramiento jurídico en Derecho Penal y áreas relacionadas, abordando cada caso con un enfoque estratégico, análisis detallado y defensa rigurosa. El objetivo es ofrecer soluciones eficaces, adaptadas a las circunstancias particulares de cada cliente, garantizando siempre la máxima confidencialidad y profesionalidad en todas las actuaciones.
        </p>
      </div>
    </div>

    <div class="flex flex-col gap-2 text-sm">
      <p class="text-base font-bold tracking-wide text-gray-900">Menu</p>
      <a class="relative text-gray-600 after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-blue-600 after:transition-all after:duration-300 hover:after:w-full" href="/">Inicio</a>
      <a class="relative text-gray-600 after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-blue-600 after:transition-all after:duration-300 hover:after:w-full" href="/about">Curriculum</a>
      <a class="relative text-gray-600 after:content-[''] after:absolute after:left-0 after:-bottom-1 after:h-[2px] after:w-0 after:bg-blue-600 after:transition-all after:duration-300 hover:after:w-full" href="/contact">Contacto</a>
    </div>

    <div class="flex flex-col gap-2 text-sm">
      <p class="text-base font-bold tracking-wide text-gray-900">Contacto</p>
      <a href="#">UPSC - Union Public Service Commission</a>
      <a href="#">General Knowledge</a>
      <a href="#">MBA</a>
    </div>
  </div>

  <div>
    <p class="text-sm mt-20 text-gray-600">© 2025 Pablo Andrés León. All rights reserved</p>
  </div>
</footer>


<style>
.footer-anim {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.9s ease, transform 0.9s ease;
}

.footer-anim.show {
  opacity: 1;
  transform: translateY(0);
}
</style>

<script>
  const footer = document.querySelector('.footer-anim');
  if (footer) {
    setTimeout(() => {
      footer.classList.add('show');
    }, 200);
  }
</script>
