--- 
import '../styles/global.css'  

--- 

<div class="bg-gray-100 text-white p-4 flex items-center row-gap-4">
    <nav>
  <li><a href="/">Inicio</a> </li>
  <li><a href="/about">Curriculum</a> </li>
  <li><a href="/contact">Contacto</a> </li>

    </nav>
</div>
