---
import '../styles/global.css'  
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="container">

	<div class="Content px-12 md:px-14 lg:px-26 py-20 md:py-26">
		<h1 class=" title text-8xl font-bold text-blue-900 hover:text-blue-800  transition-colors duration-100">Justicia<br>a través<br>de la ley</h1>
		<p class="inicio text-base text-gray-500 my-14">Bienvenidos a mi sitio web. Soy Pablo Andrés León, <br>
      abogado especializado en Derecho Penal, Derecho Penal<br> de la Administración Pública y Derecho Penal Económico.<br>
      Con amplia experiencia en la defensa de los derechos de mis clientes, <br>ofrezco un asesoramiento jurídico estratégico, riguroso y <br>personalizado en todas las áreas del derecho penal.
      <br> Mi compromiso es brindar soluciones efectivas y una <br>representación de excelencia ante cualquier situación jurídica compleja.<br>
      Aquí encontrarás información detallada sobre mi trayectoria profesional,<br> mi experiencia, los servicios que ofrezco y los casos en los que he participado.
		
	</div>

<div class="relative mt-[-80px] md:mt-[-120px] lg:mt-[-220px] xl:mt-[-730px]">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 flex justify-end">
      <div class="relative w-full max-w-[400px] sm:max-w-[480px] md:max-w-[420px] lg:max-w-[400px] xl:max-w-[500px] lg:mr-[-70px] xl:mr-[-120px]">
      <img 
        src="/src/Photos/Picture1.jpg"
        alt="Pablo Andrés León - Abogado Penalista"
          class="w-full h-auto rounded-2xl shadow-2xl object-cover"
      />
    </div>
  </div>
</div>

<body>

	<div>
	<h2 class="content text-4xl font-bold text-blue-900 px-12 md:px-14 lg:px-26 py-20 md:py-26">Especialización</h2>
	</div>
	
	<section class="max-w-6xl mx-auto px-10">
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">

	<div class="bg-gray-100 p-6 px-12 rounded-lg">   <!-- quité max-w-7xl y px-12 -->
      <p class="font-medium">Derecho penal</p>
      <p class="text-sm text-gray-600">hehehehehheheheheelololololol hello hello helool helo</p>
    </div>

	<div class="bg-gray-100 p-6 px-12 rounded-lg">   <!-- quité max-w-7xl y px-12 -->
      <p class="font-medium">Derecho penal de la administración Pública</p>
      <p class="text-sm text-gray-600">hehehehehheheheheelololololol hello hello helool helo</p>
    </div>
     
	
	<div class="bg-gray-100 p-6 px-12 rounded-lg">   <!-- quité max-w-7xl y px-12 -->
      <p class="font-medium">Derecho penal economico</p>
      <p class="text-sm text-gray-600">hehehehehheheheheelololololol hello hello helool helo</p>
    </div>

</div>
</section>

</body>





