---
import '../styles/global.css'  
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="container">

	<div class="Content px-12 md:px-14 lg:px-26 py-20 md:py-26">
		<h1 class=" title text-8xl font-bold text-blue-900 hover:text-blue-800  transition-colors duration-100">Justice <br>Through <br>Law</h1>
		<p class="inicio text-base text-gray-500 my-14">Bienvenidos al sitio web del abogado 
			Pablo andres leon<br> especializado en derecho penal, </p>
		
	</div>

	<div class="Hero-image px-0 md:px-4 lg:px-6 py-0">
  <div class="mx-auto px-0 md:px-4 lg:px-6">
    <div class="flex justify-end items-start">
      <img 
        src="/src/Photos/Picture1.jpg"
        alt="Imagen hero"
        class="w-[400px] sm:w-[500px] md:w-[400px] lg:w-[700px] -mt-[140px] sm:-mt-[180px] md:-mt-[220px] lg:-mt-[600px] ml-auto"
      />
    </div>
  </div>
</div>

<body>

	<div>
	<h2 class="content text-4xl font-bold text-blue-900 px-12 md:px-14 lg:px-26 py-20 md:py-26"> Expertise </h2>
	</div>
	
	<section class="max-w-6xl mx-auto px-10">
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">

	<div class="bg-gray-100 p-6 px-12 rounded-lg">   <!-- quité max-w-7xl y px-12 -->
      <p class="font-medium">Derecho penal</p>
      <p class="text-sm text-gray-600">hehehehehheheheheelololololol hello hello helool helo</p>
    </div>

	<div class="bg-gray-100 p-6 px-12 rounded-lg">   <!-- quité max-w-7xl y px-12 -->
      <p class="font-medium">Derecho penal de la administración Pública</p>
      <p class="text-sm text-gray-600">hehehehehheheheheelololololol hello hello helool helo</p>
    </div>
     
	
	<div class="bg-gray-100 p-6 px-12 rounded-lg">   <!-- quité max-w-7xl y px-12 -->
      <p class="font-medium">Derecho penal economico</p>
      <p class="text-sm text-gray-600">hehehehehheheheheelololololol hello hello helool helo</p>
    </div>

</div>
</section>

</body>





